{
  "presets": ["env", "stage-2"],
  "plugins": ["wildcard",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-alias", [
      {"src": "./app/", "expose": "app"},
      {"src": "./app/routes/", "expose": "routes"},
      {"src": "./app/models/", "expose": "models"},
      {"src": "./app/controllers/", "expose": "controllers"},
      {"src": "./app/services/", "expose": "services"},
      {"src": "./", "expose": "~" }
    ]]]
}
