{
  "presets": ["env"],
  "plugins": ["wildcard", ["module-alias", [
      {"src": "./app/", "expose": "app"},
      {"src": "./app/routes/", "expose": "routes"},
      {"src": "./app/controllers/", "expose": "controllers"},
      {"src": "./app/services/", "expose": "services"},
      {"src": "./", "expose": "~" }
    ]]]
}
